<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PasswordManagerGUI.Properties.Settings.PasswordConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Password.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="PasswordManagerGUI.Properties.Settings.Database1ConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PasswordManagerGUI.Properties.Settings.PasswordsConnectionString"
            connectionString="Data Source=LAPTOP-IRITE623;Initial Catalog=Passwords;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PasswordManagerGUI.Properties.Settings.UsersConnectionString"
            connectionString="Data Source=LAPTOP-IRITE623;Initial Catalog=Users;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PasswordManagerGUI.Properties.Settings.StorageDataConnectionString"
            connectionString="Data Source=LAPTOP-IRITE623;Initial Catalog=StorageData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>